cvs:
  image: %%MYSELF%%
rsas:
  image: %%COMPANION0%%
  # links:
  #   - cvs:cvs
  environment:
    - CVS_HOST=cvs
    - CVS_PORT=8090
testrunner:
  image: %%TESTRUNNER%%
  # links:
  #   - rsas:target
  environment:
    - TARGET_HOST=target
    - TARGET_PORT=1194
  volumes:
    - %%TEST_DIR%%:/testresults
